@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Nerko+One&family=Squada+One&display=swap');


:root{
    --fonte: "Bebas Neue", cursive;
    --fonte2: "Nerk Jersey 10", sans-serif;
    --cor1: #dedfdc;
    --cor2:#3b587a;
    --cor3:#123142;
    --cor4:#142026;
    --cor5:#20130a;
}

* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    font-family: sans-serif;
    background-color: var(--cor1)
    
}
.comeco {
    background-color: var(--cor4);
    padding-bottom: 120px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.nome {
    margin: -15px 0px -130px 35px;

}

.nome h1 {
    padding-top: 50px;
    font-size: 3em;
    font-variant: small-caps;
    font-family: var(--fonte2);
    color: var(--cor1);
}
.nome  h2 {
    padding-top: 10px;
    font-size: 1.5em;
    text-align: left;
    color: var(--cor1);
  
}


.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-bottom: 0px;
    padding-top: 75px;
    padding-left: 20px;
    
}
    
.menu a {
    padding: 8px;
    padding-top: 9px;
    box-shadow:  3px 3px 10px rgba(180, 179, 179, 0.4); 
    border-radius: 50%;
    margin-top: 120px;
    margin-right: 35px;
}
.menu img {
    height: 30px;    
}
.menu a:hover {
    box-shadow: 5px 5px 10px black;
}


section#identidade {
    display: flex;
    background-color: white;
    min-width: 200px;
    max-width: 800px;
    margin: auto;
    position: relative; /* Permite o ajuste da posição com top */
    top: -80px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}


section#identidade > img {
    min-width: 0px;
    max-width: 300px;
    min-height: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

section#identidade  h1 {
    font-size:0.5em ;
    padding-left:10px ;
    padding-top: 10px;
}
section#identidade  h2 {
    font-size:1em ;
    padding-top: 10px;
    padding-left:10px ;
}
section#identidade  p{
    font-size:0.5em ;
    padding-left:10px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

section#identidade  td{
    padding:10px ;
    font-size: 0.5em;
}

section#identidade hr {
    margin: 10px;

}
